.brand-img-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd; /* Лёгкая рамка */
    border-radius: 5px;
    overflow: hidden;
    background: #fff; /* Белый фон */
}

.brand-img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Сохранение пропорций */
}