.category-list-container{
    overflow: hidden;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    clip-path: inset(0);

}

.category-card {
    width: 11%; /* Фиксированная ширина карточки */
    max-width: 13%; /* Чуть увеличиваем для удобства */
    border-radius: 40%;

}

