/* .cart-button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-icon {
    width: 25px;        
    height: 25px;
    object-fit: cover;
    color: #fff;
    padding: 5px;
}

.cart-button:hover {
    background: #767676;
} */