.category-showcase-container{
    overflow: hidden;
    padding: 0 !important;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    clip-path: inset(0);
    gap: 2vh;
}

.category-card {
    width: 100%;
    border-radius: 40%;
}

