.sidebar ul {
    padding-left: 0;
    list-style: none;
    padding-top: 10px;
}

.sidebar li {
    padding: 0.4rem 1rem;
    font-size: 14px;
}

.sidebar {
    width: 250px;
    box-shadow: 1px 0 0px rgba(0, 0, 0, 0.1);
}

.sidebar-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar li a {
    color: #3f3f3f;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.sidebar li a:hover {
   color: #8fc7ff;
}

.icon-category{
   width: 20px;
   margin: 0px 10px;
}

.sidebar-hidden {
    display: none;
} 