.user-cart {
    padding: 5px;
    position: relative;
}

.user-cart h4{
    font-weight: 900;
}

.cart-name {
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
    font-weight: 900;
    width: 100%;
    padding-bottom: 1rem;
}

.cart-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-items {
    padding-left: 0px;
    margin-top: 20px;

}

.cart-item {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #cacaca;
    border-radius: 10px;
}

.item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.item-details {
    width: 100%;
}

.item-name {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.item-name:hover{
    color: red;
    text-decoration:underline;
}

.item-price {
  font-size: x-large;
    margin-left: 80px;
}

.cart-summary {
    margin-top: 20px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #c5e4ff;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
}
.cart-summary-container{
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
    width: 100%;
}
.cart-summary h1{
    font-weight: 600;
}

.checkout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.checkout-button:hover {
    background-color: #0056b3;
}


.cart-product_body{
    display: flex;
    align-items: stretch;
    flex: 1;
}

.cart-product_footer{
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}
