.card {
    background-color: var(--gray-light) !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: none !important;
    white-space: nowrap;
    text-decoration: none;
    transform-origin: center center;
    transition: opacity 0.1s ease-in-out;
}

.card:hover {
    opacity: 0.8;
}

.icon-card{
    font-size: 40px;
}

.icon-card-container{
    background-color: var(--gray-dark);
    border-radius: 100%;

}