.login-page-container{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
     width: 90%;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-group .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 0;
    box-shadow: none;
    background-color: transparent;
}

.input-group .form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

.input-group .form-label {
    z-index: 1000;
    position: absolute;
    top: 0.6rem;
    left: 0;
    font-size: 1rem;
    color: #aaa;
    transition: all 0.2s ease;
    pointer-events: none;
}

.input-group .form-control:focus + .form-label,
.input-group .form-control:not(:placeholder-shown) + .form-label {
    top: -0.6rem;
    font-size: 0.85rem;
    color: #007bff;
}
