.product-card {
    display: flex;
    flex-direction: column; /* Позволяет располагать элементы вертикально */
    justify-content: space-between; /* Размещает элементы равномерно по высоте */
    height: 100%; /* Устанавливаем 100% высоты родителя */
    border: 1px solid #ddd; /* Добавляем границу */
    border-radius: 0 !important; /* Сглаженные углы */
    padding: 10px; /* Внутренние отступы */
    transition: transform 0.2s;
    margin: 0 !important;
}

.card-text.name{
    min-height: 50px;
}

.card-img-top {
    height: 200px;
    object-fit: contain;
    padding: 15px;
    background-color: #f7f7f7;
}

.product-card .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card .card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 48px;  /* для контроля высоты */
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-link:hover .product-card {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}


.product-card-price{
    font-weight: bold;
}

.original-price-product{
    text-decoration: line-through;
    font-size: 0.95rem;
}

.price-product{
    font-weight: 600;
    font-size: 1.45rem;
}

.discount-price-product{
    font-size: 1.45rem;
    color: var( --discount-color);
    font-weight: 600;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var( --discount-color);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 40%;
}

.material-icons.cart-product-icon {
    color: var(  --blue-color);
    font-size: 27px;
    padding: 2px;
    border-radius: 10%;
}

.cart-product-icon:hover{
 background-color: #dddddd;
}


