/* Карточка продукта */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
    text-decoration: none;
}

/* Эффект при наведении: только прозрачность */
.product-card:hover {
    opacity: 0.8;
}

/* Контейнер для изображений */
.img-container {
    width: 100%;
    height: 26vh; /* Одинаковая высота */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Картинки обрезаются по контейнеру */
}

/* Тело карточки */
.card-body {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

/* Название продукта */
.card-text.name {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

/* Цены */
.price-container {
    display: flex;
    align-items: center;
}

.original-price {
    text-decoration: line-through !important;
    color: gray;
    font-size: 14px;
}

.discount-price {
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

/* Кнопка добавления в корзину */
.add-to-cart {
    background-color: black !important;
    color: white !important;
    border-radius: 5px;
    padding: 7.5px 11px !important;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    width: 100% !important;
}

.add-to-cart:hover {
    background: #333;
}

.card-star-rating{
    margin-bottom: 1rem;
}

/* Адаптивность */
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .img-container {
        height: 160px;
    }

    .card-text.name {
        font-size: 14px;
    }

    .discount-price, .price {
        font-size: 16px;
    }
}




