.modal-dialog {
    transition: transform 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    min-height: calc(100% - 1rem);
    max-width: 90vw;
    width: auto;
}

.modal-dialog.modal-show {
    transform: scale(1);
}

.modal-dialog.modal-hide {
    transform: scale(0.9);
}

.modal-content {
    position: relative;
    border-radius: 0.5rem;
    max-height: 80vh;
    overflow-y: auto;
    width: 100%;
}


.close-btn {
    position: absolute;
    top: 1rem; 
    right: 1rem;
    padding: 0.5rem;
    border: none;
    background: transparent;
    color: #000;
    font-size: 1.5rem; 
    cursor: pointer;
    z-index: 1050; 
}