.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out; /* Настраиваем плавный переход */
}

/* Состояние при открытии */
.collapse-content.open {
    max-height: 500px; /* Достаточная высота для отображения контента */
}

.cart-item-image {
    width: 80px;
    height: auto;
}

.cart-item-description {
    font-size: 0.875rem;
}

.cart-item-price {
    min-width: 100px;
}

.card-cart-form{
    cursor: pointer;
    text-align: center;
}
.card-cart-form p {
    margin-bottom: 0rem !important;
}