.carousel {
    width: 1200px;
    height: 400px;
    overflow: hidden;
   
}

.carousel-inner {
    height: 100%;
    /* Устанавливает высоту внутреннего контейнера на 100% от карусели */
}

.carousel-item {
    height: 100%;
    /* Устанавливает высоту слайда на 100% от внутреннего контейнера */
}

.carousel-item img {
    width: 100%;
    /* Устанавливает ширину изображения в 100% от родительского элемента */
    height: 100%;
    /* Устанавливает высоту изображения в 100% от родительского элемента */
    object-fit: cover;
    /* Масштабирует изображение так, чтобы оно покрывало контейнер */
}