.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-img-top {
    object-fit: cover;
    /* Обеспечивает правильное обрезание изображений */
    height: 180px;
    /* Фиксированная высота для изображений */
}

.card-body {
    padding: 1rem;
    /* Убедитесь, что внутренние отступы одинаковые */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}