.sidebar {
    width: 300px;
    position: relative;
    top: -24px;
    bottom: 0;
    padding-top: 1rem;
    border-right: 1px solid #ddd;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar ul {
    padding-left: 0;
    list-style: none;
}

.sidebar li {
    padding: 0.4rem 1rem;
    font-size: 14px;
}

.sidebar li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.sidebar li a:hover {
   color: #8fc7ff;
}

.icon-category{
   width: 20px;
   margin: 0px 10px;
}