.btn {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover,
.btn-success:hover {
    opacity: 0.8;
}

.main{
    width: 100%;
    padding: 0% 10%;
}