* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
}

:root {
    --primary-color: #000000; /* Черный */
    --secondary-color: #ffffff; /* Белый */
    --accent-color: #ff3b30; /* Красный (для точки в "Point.") */
    --gray-light: #d8d8d8; /* Светло-серый фон */
    --gray-dark: #a0a0a0; /* Темно-серый текст */
    --button-bg: #494949; /* Фон кнопок */
    --button-text: #ffffff; /* Цвет текста на кнопках */
}
