.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-m {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin: 0;
    padding-top: 20vh;
    margin: 0 5%;
}

.content {
    flex: 1;
    padding: 1rem;
    background-color: #fff;
    overflow-y: auto;
    width: 100%;
}

